@import "~bootstrap/scss/bootstrap";

@mixin d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

:root {
    --primary-color: #0082f9;
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}

// * HEADER
header {

    .upper-header {
    height: 20px;
    background-color: var(--primary-color);

    
        .container ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            line-height: 100%;

            a {
                font-size: .5rem;
                margin-left: 1rem;
                margin-left: 1rem;
            }
        }

       
    }

    .bottom-header {
        @include d-flex;
        gap: 50px;
       

        
        .logo {
            max-width: 80px;
            max-height: 80px;
        }
        
        .navbar {
            flex-grow: 1;

            
            ul {
                @include d-flex;
                gap: 20px;
                width: 100%;

                li {

                    

                    a {
                        color: #464646;
                        font-size: .8rem;
                        font-weight: bold;
                        padding: 1rem 0;
   
                    }

                    a.active {
                        border-bottom: 2px solid var(--primary-color);
                    }
                }

               
    
    
            }

        }
        

        .search-bar input {
            border: none;
            max-width: 100px;
            border-bottom: 2px solid var(--primary-color);
        }
    }
}

// * JUMBOTRON
.jumbo {
    height: 400px;
    background-image: url('../images/jumbotron.jpg');
}

// * COMICS
.comics {
    background-color: #1c1c1c;
    position: relative;

    .title,
    a {
        text-align: center;
        color: white;
        background-color: var(--primary-color);
        font-weight: bold;
        display: block;

        
    }

    .title {
        position: absolute;
        top: -28px;
        left: 95px;
        width: 250px;

    }

    a {
        width: 200px;
        font-size: .8rem;

        margin: 0 auto;
    }

    .card {
        background-color: #1c1c1c;
        color: #f5fbfc;

        img {
            height: 250px;
            object-fit: fill;
        }
    }

    

        
            
        
}

// * FOOTER
.upper-footer {
        background-image: url('../images/footer-bg.jpg');

        .container {
            @include d-flex;

            .left {
                padding: 30px 0;

                .lists {

                    @include d-flex();
                    align-items: baseline;
                    width: 330px;
        
                    .list {
                        
                        h6 {
                            color: white;
                        }
            
                        li {
                            height: 20px;
                            
                            a {
                                font-size: .5rem;
                                color: #7f9695;
                            }
                        }
                    }

                }
                
                p {
                    color: #7f9695;
                    font-size: .6rem;
                    width: 75%;


                }


            }

            .rigth {
                width: 37%;
                
                @include d-flex();
        
        
        
                .img {
                    overflow: hidden;
                    width: 100%;
                    aspect-ratio: 1;
    
    
                    img {
                        aspect-ratio: 1;
                        width: 105%;
    
                    }
                }
            }
        }
    
        
    


}

.bottom-footer {
    background-color: #303030;

    .container {
        @include d-flex();

            .left {
                padding: 12px;
                border: 2px solid var(--primary-color);
                font-weight: bold;
            }

            .right {
                @include d-flex();

                p {
                    font-size: 1.2rem;
                    color: var(--primary-color);
                    font-weight: bolder;
                    margin: 0;
                    
                }

                ul {
                    @include d-flex();
                    gap: 20px;
                }
            }
    }
}
